.Header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* .Title, .Heading{
    text-align: center;
} */

.Heading {
  font-weight: 900;
  font-size: 4em;
  /* line-height: 70px; */
}

.Title {
  position: relative;
  font-weight: normal;
  font-size: 2em;
  /* line-height: 50px; */
}

.IntroWrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10vh 0;
}

.IntroText{
    padding-left: 5vw;
    /* font-size: 1em; */
    line-height: 1.6em;
}

.Center{
    display: block;
    margin: auto;
}

